.ktrakhuyenmai{
    border: 2px solid #D9D9D9;
   width: 30%;
   padding: 12px;
   border-radius: 15px;
   margin: 10px;
   margin-left: 35%;
   justify-content: center;
   }
   .tieude{
    margin-top: 40px;
    margin: 10px;
    margin-left: 40%;
    margin-bottom: 30px;
    justify-content: center;
    
}
.kqtimkiem{
margin: 10px;
margin-left: 35%;
justify-content: center;

}