<div class="tieude">
    <h1>Mua vé</h1>
</div>
<div class="thongtin">
    <table class="thongtin" style="width: 80%;   border-bottom: 1px solid #ddd;
    border-left:1px solid #ddd ;
    border-right: 1px solid #ddd;">
        <tr>
            <th style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">Người dùng vé</th>
            <th style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">Thông tin đặt chỗ</th>
            <th style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">giá vé</th>
            <th style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">Giảm đối tượng</th>
            <th style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">Khuyến mãi</th>
            <th style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">Thành tiền</th>
            <th style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;"></th>
        </tr>
        <tr>
            <td style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">
                <label for="name">Họ tên:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="doituong">Đối tượng:</label><br>
                <input type="text" id="doituong" name="doituong"><br>
                <label for="gttt">Giấy tờ tùy thân:</label><br>
                <input type="text" id="gttt" name="gttt">
            </td>
            <td style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">
                <p>Tàu:</p>
                <p>Thời gian đi:</p>
                <p>Thời gian đến:</p>
                <p>Ga đi:</p>
                <p>Ga đến:</p>
                <p>Số ghế:</p>
                <p>Loại chỗ:</p>
            </td>
            <td style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">...</td>
            <td style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">...</td>
            <td style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">...</td>
            <td style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">...</td>
            <td style=" border-bottom: 1px solid #ddd;
            border-left:1px solid #ddd ;
            border-right: 1px solid #ddd;">
                <input type="checkbox" value="">
            </td>
        </tr>
            <tr>
                <td colspan="7" style=" border-bottom: 1px solid #ddd;
                border-left:1px solid #ddd ;
                border-right: 1px solid #ddd;">
                    <label for="adkm">Áp dụng mã khuyễn mãi:</label>
                    <input type="text" id="adkm" name="adkm" style="margin: 10px;">
                    <p style="margin: 10px; margin-left: 90%; margin-top:-30px;">Tổng tiền..</p>
                </td>
            </tr>
    </table>
    <button style="background-color: #ACD5E9; border: 2px solid #ACD5E9;border-radius: 5px;
     padding: 8px; margin: 30px;margin-left: 75%; margin-top: -1px;">
    Xóa khỏi giỏ hàng
</button>
<div class="tt" >
    <h3>Thông tin thanh toán:</h3>
</div>
<div></div>
<table class="thanhtoan" style="width: 80%;">
    <tr>
        <td>
            <label for="name">Họ tên:</label>
        <input type="text" id="name" name="name" style="margin-left:49px;"><br>
        </td>
        <td>
            <label for="httt">Hình thức thanh toán:</label>
            <input type="text" id="httt" name="httt" style="margin-left: 164px;">
        </td>
    </tr>
    <tr>
        <td>
            <label for="sdt">Số điện thoại:</label>
        <input type="text" id="sdt" name="sdt" style="margin-left:20px;"><br>  
        </td>
        <td>
            <label for="nganhang">Ngân hàng(nếu chọn thanh toán bằng online banking):</label>
            <input type="text" id="nganghang" name="nganhang" style="margin-left: 20px;">
        </td>
    </tr>
    <tr>
        <td>
            <label for="cccd">CCCD</label>
        <input type="text" id="cccd" name="cccd" style="margin-left:55px;"><br>
        </td>
        <td>
            <label for="stk">Số tài khoản(nếu chọn thanh toán bằng online banking)</label>
            <input type="text" id="stk" name="stk" style="margin-left: 16px;">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button style="background-color: #ACD5E9; border: 2px solid #ACD5E9;border-radius: 5px;
            padding: 10px; margin: 15px;margin-left: 50%;">
           Đặt vé
       </button>
        </td>
    </tr>
</table>
</div>

