.tieude{
     margin: 10px;
    margin-left: 150px;
     margin-bottom: -15px;
      
}
.thongtin{
    padding: 20px;
    margin: 20px;
    margin-left: 5%;
    
    
}


.tt{
    margin: 15px;
    margin-top:-60px ;
    margin-left: 80px;
}
.thanhtoan{
    padding: 8px;
    text-align: left;
   border-top: 1px solid #ddd;
   border-right: 1px solid #ddd;
   margin: 10px;
   margin-left: 5%;
}