<h1 style="text-align:center;">Đổi chuyến</h1>
<p style="text-align: center;"><b>Chọn chuyến</b> > Xác thực thông tin</p>
<div class="doichuyen">
    <label for="gadi">Ga đi:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="gadi" name="gadi">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="gaden">Ga đến:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="gaden" name="gaden"> 
    &nbsp;&nbsp;&nbsp;&nbsp;<br>
    <label for="thoigiandi">Thời gian đi:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="date" id="thoigiandi" name="thoigiandi">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="thoigianden">Thời gian đến:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="date" id="thoigianden" name="thoigianden">
    &nbsp;&nbsp;&nbsp;&nbsp;<br>
    <label for="tau">Tàu:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="tau" name="tau">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="toa">Toa:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="toa" name="toa">
    &nbsp;&nbsp;&nbsp;&nbsp;<br>
    <label for="ghe">Ghế:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="ghe" name="ghe"><br>
    <button style="background-color: #ACD5E9; border: 2px solid #ACD5E9;border-radius: 3px;
               margin-left: 400px; ">
        Tiếp theo
     </button>
     <br><br><br>
   


</div>

