<div class="tieude">
    <h1>QUY ĐỊNH</h1>
</div>

        <div class="rule">
            
        <h3>Quy định mua vé trên web:</h3>
        <p>Khách hàng (người đủ tuổi) mua vé trên web cần điền đầy đủ thông tin về người mua vé, thông tin về hành khách đi tàu bào gồm: Họ và về đầy đủ, số giấy tờ tùy thân có ảnh hợp lệ của pháp luật công nhận( căn cước công dân, bằng lái xe , hộ chiếu)
            Khách hàng(trẻ em) thì phải điền đúng ngày tháng năm sinh ghi trên giấy khai sinh của trẻ em được nhà nước công nhận
            Trẻ em và người lớn hơn 75 tuồi phải có người đi cùng</p>   
        <h3>Quy định lấy vé:</h3>
        <p>Khi ra ga lấy vé, khách hàng phải đem giấy tờ tùy thân hợp lệ để chứng minh là người mua vé hoặc là một trong số khách hang đi tàu cùng với mã đặt chỗ được hệ thống bán vé cung cấp.</p>
        <h3>Quy định đặt chỗ:</h3>
        <p>Quý khách có thể đặt chỗ cho tối đa 04 khách (không bao gồm trẻ sơ sinh) trong mỗi lần thực hiện
            Trẻ em dưới 10 tuổi tại thời điểm khởi hành phải được đặt chỗ đi cùng người lớn.
            Trẻ em dưới 6 tuổi: Miễn vé và sử dụng chung chỗ của người lớn đi kèm.
            Giá vé trên Website chỉ áp dụng cho các giao dịch mua vé trên Website tại thời điểm mua vé.
            Đặt chỗ của Quý khách sẽ không được đảm bảo đến khi thanh toán thành công (30 phút kể từ lúc đặt).</p>    
        
        <h3>Quy định thanh toán:</h3>
        <p>Khách hàng có thể chọn một trong 2 hình thức thanh toán: trực tuyến hoặc trả sau
           Trong trường hợp Quý khách lựa chọn hình thức "Trả sau", Quý khách có thể thực hiện việc thanh toán tại ga</p>
        <h3>Quy định thay đổi lịch: </h3>
        <p>Trong trường hợp thay đổi lịch chạy tàu, khách hàng sẽ được thông báo qua địa chỉ thư điện tử khách hàng đã đăng ký khi mua vé trên website</p>
        <h3>Quy định phù hợp khối lượng: </h3>
        <p>Hành khách không phải mua vé với hành lý xách tay trong phạm vi khôi lượng và chủng loại theo quy định, nếu vướt quá khối lượng quy định phải mua vé theo quy định</p>
        <h3>Quy định đặt vé đoàn:</h3>
        <p>Khách hàng đặt vé đoàn (10 người trở lên), cung cấp cccd, số điện thoại, email
            Khách hàng thanh toán bằng 2 hình thức:
                  + Thanh toán bằng thẻ tin dụng
                  + Thanh toán tiền mặt (trả sau): cọc trước 30% gia trị của vé</p>
        <h3>Quy định đổi vé,trả vé:</h3>
        <p>Đổi vé: vé cá nhân đổi trước 24h trở lên, lệ phí đổi vé 20.000 đồng/vé, dưới 24h không đổi vé và không áp dụng đổi vé với vé tập thể.
            Trả vé:
            +Vé cá nhân:trả vé trước giờ tàu chạy từ 24h trở lên , lệ phí là 10% giá vé, từ 4h đến dưới 24h lệ phí là 20% giá vé, dưới 4h không trả vé.
            +Vé tập thể: trả trước 72h trở lên lệ phí 10% giá vé, từ 24h-72h lệ phí là 20% giá vé, dưới 24h không trả vé.</p>
        <h3>Quy định trả vé trực tuyến:</h3>
        <p>Trả vé trực tuyến chỉ áp dụng với trường hợp khách hang đã thanh toán trực tuyến và có điền email khi mua vé
            Nếu khách hang thanh toán bằng tiền mặt, tả sau qua ứng dụng ngân hang và atm, chyển khoản hoặc trả vé khi có sự cố bãi cỏ tàu( vui long thực hiện thủ tục tại nhà ga hoặc đại lý bán vé)</p>
        <h3>Quy định việc làm nhân viên:</h3>
        <p>Nhân viên kế toán, kinh doanh, chăm sóc khách hàng, nhân viên kỹ thuât: có bằng cao đặng/ đại học
            Đi làm đúng quy định (7h30-17h30) 
            Không làm việc riêng khi đang làm việc
            Nhân viên có  12 ngày/năm
            Nhân Viên nhận lương +thưởng theo quy định </p>
        <h3>Quy định áp dụng voucher:</h3>
        <p> -Tự động áp dụng voucher cho khách hàng khi đủ điều kiện 
            -TH1 : khách hàng đặt vé đoàn (>10 vé ) giảm 5% 
            -TH2 : Khách hàng đặt vé khứ hồi giảm 25%
            -Tất cả được khấu trừ trực tiếp vào tổng tiền sau cùng của hóa đơn 
            -Được áp dụng cùng nhau </p>
        <h3>Quy định toa tàu:</h3>
        <p>Xác định chỉ có 10 toa trên 1 toa
           Trên tàu mỗi gồm 6 toa giường nằm 4 </p>   
        </div>

