<div id="menu_container">
  <div id="menu_left">
    <a routerLink="home" style="font-size: 20px;"><img src="/assets/images/logo (2).png" ></a>
  </div>
  <div id="menu_right">
    <a class="mnItem" routerLink="GioTau_GiaVe">Giờ tàu - giá vé</a>
    <div class="dropDownMN">
      Kiểm tra
      <div class="dropDownContent">
        <a routerLink="ttdc">Kiểm tra thông tin đặt chỗ</a>
        <a routerLink="kiemtrave">Kiểm tra vé</a>
        <a routerLink="khuyenmai">Kiểm tra khuyến mãi</a>
      </div>
    </div>
    <a class="mnItem" routerLink="ttdc">Thông tin đặt chỗ</a>
    <a class="mnItem" routerLink="LienHe">Liên Hệ</a>
    <a class="mnItem" routerLink="huongdan">Hướng dẫn</a>
    <a class="mnItem" routerLink="quydinh">Quy định</a>
  </div>
</div>

<router-outlet></router-outlet>
