<h1 style="text-align:center;">Hoàn vé</h1>
<div class="hoanve">
    <label for="mave">Mã vé:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="mave" name="mave">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="nganhang">Ngân hàng:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="nganhang" name="nganhang"> 
    &nbsp;&nbsp;&nbsp;&nbsp;<br>
    <label for="adt">Số điện thoại mua vé:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="sdt" name="sdt">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="stk">Số tài khoản:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="stk" name="stk">
    &nbsp;&nbsp;&nbsp;&nbsp;<br>
    <label for="maxn">Mã xác nhận:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="maxn" name="maxn"> 
    <br>
    <p><u>Vui lòng nhập mã xác nhận được gửi đến số điện thoại xác nhận danh tính!</u></p>
   <button style="background-color: #ACD5E9; border: 2px solid #ACD5E9;border-radius: 3px;
               margin-left: 500px; " (click)="onhoanve()">
    Hoàn vé
     </button>
</div>
