.hoanve{
    border: 2px solid #D9D9D9;
   width: 43%;
   padding: 20px;
   border-radius: 15px;
   margin: 10px;
   margin-left: 30%;
   justify-content: center;
   text-align: center;
   }
   .hv{
    text-align: center;
    justify-content: center;
   }
