#searchBar button{
  width: 10vw;
  border: none;
  height: 20px;
  background-color: #ACD5E9;
  border-radius: 3px;
}
#searchBar{
  border-radius: 10px;
  background-color: #7581CB;
  display: inline-flex;
  padding: 20px;
  width: 90vw;
}
select{
  width: 20vw;
  margin-left: 20px;
  margin-right: 20px;
  height: 20px;
}