.ttdc{
    border: 2px solid #D9D9D9;
   height:80px;
   width: 750px;
   margin:10px;
   padding: 30px;
   border-radius: 15px;
   margin-left: 330px;
 
   }
   .kqttdt{
   margin-top: -10px;
    border: 2px solid #D9D9D9;
    height:400px;
    width: 750px;
    margin-left: 330px;
    padding: 40px;
    border: 1px solid black;
   }
 .pttt{
    font-size: 14px;
    border: 1px solid rgb(213, 211, 211);
    margin-top : -200px;
    margin-left: 300px;
    width: 400px;
    height: 250px;
    padding: 40px;
    border-radius: 20px;
 }
 .tieude{
   margin: 10px;
   margin-left: 600px;
   margin-bottom:30px ;
   
}

   