<div class="tieude">
    <h1>Thông tin đặt chỗ</h1>
</div>

<div class="ttdc">
    <label for="mdv">Mã đặt vé:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="mdv" name="madv">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="sdt">Số điện thoại:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="sdt" name="sdt">  &nbsp;&nbsp;&nbsp;&nbsp;
    <button style="background-color: #ACD5E9; border: 2px solid #ACD5E9;border-radius: 3px;">
        Kiểm tra
     </button>
</div><br><br>
<div class="kqttdt">
    <div class="kq">
        <p>Mã hóa đơn:</p>
        <p>Mã vé</p>
        <p>Mã đặt chỗ</p>
        <p>Người mua&nbsp;&nbsp;&nbsp;&nbsp;  Người bán:&nbsp;&nbsp;&nbsp;&nbsp;    Ngân hàng hưởng thụ:</p>
        <p>Giá vé &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Số tài khoản</p>
        <p>Tàu</p>
        <p>Toa</p>
        <p>Số ghế: </p>
        <p>Loại ghế:</p>
        <p>Ga đi: &nbsp;&nbsp;&nbsp;&nbsp;  Ga đến:</p>
        <p>Ngày đi&nbsp;&nbsp;&nbsp;&nbsp;   Ngày đến:</p>
        <p>Trạng thái vé:&nbsp;&nbsp;&nbsp;&nbsp;   Trạng thái ghế:</p>
       </div>
       <div style="width: 60px;"></div>
       <div class="pttt">
            <label for="httt">Hình thức thanh toán</label>
                <input type="text" id="httt" name="httt"><br>
                <label for="onlbk">Ngân hàng(nếu chọn thanh toán bằng online baking)</label>
                <input type="text" id="onlbk" name="onlbk"><br>
                <label for="onlbk">Số tài khoản(nếu chọn thanh toán bằng online baking)</label>
                <input type="text" id="onlbk" name="onlbk"><br>
                <button style="background-color: #ACD5E9; border: 2px solid #ACD5E9;border-radius: 3px;
                margin-left: 230px ">
                Thanh toán
                </button>
            </div>
       
</div>