#topContainer{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
#sdtContainer,#mailContainer{
  font-size: 14px;
  border: 1px solid rgb(213, 211, 211);
  margin: 50px;
  width: 30%;
  height: 200px;
  padding: 40px;
  border-radius: 20px;
}
h1,h3{
  margin-left:15% ;
}
#addressContainer{
  padding: 60px;
  border-radius: 20px;
  border: 1px solid rgb(213, 211, 211); 
  width: 70%;
  height: 200px;
}
#bottomContainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}