td{
  border: 1px solid gray;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}
#item_ga{
  width: 60px;
  height: 30px;
  background-color: blue;
  font-size: 20px;
  border-radius: 3px;
  margin: 10px;
  text-align: center;
}
#tbHanhTrinh,#tbBangGia{
  visibility: hidden;
  margin: 20px;
  align-items: center;
}
#tbHanhTrinh{
  width: 50%;
}
#tbBangGia{
  width: 30%;
}
#tbContainer{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#optContainer{
  border: 1px solid rgb(207, 204, 204);
  display: inline-block;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
}
.container{
  justify-content: center;
  display: flex;
}
select{
  font-size: 14px;
  height: 18px;
  width: 200px;
  margin-left: 20px;
  border-radius: 5px;
}
#btnContainer{
  display: flex;
  justify-content: center;
}
#searchbtn {
  width: 80px;
  border: none;
  background-color: #ACD5E9;
  height: 23px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: -10px;
}
#tb{
  width: 100%;
  margin-left: 30px;
}
#tdTittle{
  width: 10%;
  border: none;
}
#tdInput{
  width: 40%;
  border: none;
}