<div class="kq">
    <div>
     <p>Mã vé:</p>
     <p>Người mua        người bán:</p>
     <p>Giá vé</p>
     <p>Tàu</p>
     <p>Toa</p>
     <p>Số ghế: </p>
     <p>Loại ghế:</p>
     <p>Ga đi:           Ga đến:</p>
     <p>Ngày đi:         Ngày đến:</p>
     <p>Trạng thái vé:</p>
    </div>
    <div>
        <a  [routerLink]="['/kiemtrave/doichuyen']">
            <button style="background-color: #ACD5E9; border: 2px solid #ACD5E9;border-radius: 3px;
            margin-left: 500px;  " (click)="onChuyenve()" >
    Chuyến vé
    </button>
        </a>
          <a  [routerLink]="['/kiemtrave/hoanve']">
            <button style="background-color: #ACD5E9; border: 2px solid #ACD5E9;border-radius: 3px;
                    margin-left: 6px; " (click)="onHoanve()" >
         Hoàn vé
          </button>
          </a>
    </div>
    
      
 </div>
 
