<title>Tìm vé</title>
  
<div class="tv">
  <h1 style="color: black;text-align:center;margin: 2vw;">Tìm vé</h1>
  <div class="searchContainer">
    <app-search-bar></app-search-bar>
  </div>

  <div>
    <h6 style="background-color: #A5aecf;padding: 1vw;margin: 5vw;margin-top:2vw ;border-radius:0vw 70vw 0vw 0vw; width: 40vw;">Đi từ:...đến...Ngày.../.../...</h6>
  </div>
  <div style="margin-left:5vw ;margin-top: -2vw;border-style:groove;border-radius:2vw 2vw 2vw 2vw;width: 40vw;height: 15vw;">
    <div style="display: flex; flex-direction: row;">
      <h6 style="font-weight: bold;margin-left:2vw ;">Trạng thái toa</h6>
      <h6 style="font-weight: bold;margin-left:10vw ;">Trạng thái ghế</h6>
    </div>
    <div style="display: flex; flex-direction: row;">
      <h6 style="margin-left: 1.2vw ;margin-top: 1vw; margin-bottom: 2vw;">Toa còn vé:</h6>
      <button style="background-color: #d9d9d9;margin-left: 3vw;height: 2vw;width: 6vw; border: 1px solid #d9d9d9;">Toa</button>
      <h6 style="margin-left:1.5vw ;margin-top: 1vw;">Ghế trống:</h6>
      <button style="background-color: #d9d9d9;margin-left: 24px;height: 25px;width: 80px; border: 1px solid #d9d9d9;">Số ghế</button>
    </div>
    <div style="display: flex; flex-direction: row;">
      <h6 style="margin-left:3% ;margin-top: 2%; margin-bottom: 4%;">Toa đang chọn:</h6>
      <button style="background-color: #7581CB;margin-left: 20px;height: 25px;width: 80px; border: 1px solid #7581CB; color: white;">Toa</button>
      <h6 style="margin-left:3% ;margin-top: 2%;font-size:80%;">Số ghế đã hết:</h6>
      <button style="background-color:red;margin-left: 20px;height: 25px;width: 80px; border: 1px solid red; color: white;">Số ghế</button>
    </div>
     <div style="display: flex; flex-direction: row;">
      <h6 style="margin-left:3% ;margin-top: 1%;">Toa hết vé:</h6>
      <button style="background-color:red;margin-left: 40px;height: 25px;width: 80px; border: 1px solid red; color: white;">Toa</button>
    </div>
  </div>
 <div class="containerGio">
  <div class="giohang">
    <div class="gio" *ngFor="let gio of DSGioVe">
      <table class="table">
        <tr>
            <td>Thời gian đi:</td>
            <td>Thời gian đến:</td>
            <td rowspan="3">Thời gian giữ vé</td>
            <td rowspan="3"><input type="checkbox" value=""></td>
           </tr>
           <tr>
            <td>Ga đi:</td>
            <td>Ga đến:</td>
           </tr>
           <tr>
            <td>Số ghế: {{gio.SoGe}}</td>
            <td>Loại chỗ</td>
           </tr>
      </table>
    </div>
    

    </div>
    <div class="btnContainer">
      <table>
      <tr>
        <td><h3>Giỏ vé</h3></td>
        <td><button>
           Xóa khỏi giỏ hàng
          </button></td>
          <td><button>
            Mua vé
          </button></td>
      </tr>
    </table>
    </div>
  </div>
 
 </div>
  <div class="chuyentau">
    <h6 style="text-align: center;">Chuyến tàu</h6>
    <div *ngFor="let lt of HanhTrinh">
      <div class="lichtrinh" *ngFor="let tau of DSTau" (click)="TauSelected(tau.MaTau,lt.IDLichTrinh)">
        <table>
          <tr>
            <td>
              Thời gian đi...{{lt.Column1}}
            </td>
          </tr>
            <tr>
              <td>
                Thời gian đến...{{lt.Column2}}
              </td>
            </tr>
            <tr>
              <td>
                Số chỗ trống...{{lt.SoLuongCho_Trong}}
              </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <td>
                Số chỗ đã đặt...
              </td>
            </tr>
        </table>
      </div>
    </div>
    </div>

      <div class="toatau">
        <h6 style="margin-left: 3vw; margin-top: 1vw;">Toa tàu</h6>
        <div class="listToa">
          <div class="toa" *ngFor="let toa of DSToa" (click)="ToaSelected(toa.MaToaTau)">{{toa.MaToaTau}}>

        </div>
        </div>
      </div>


  <div class="ghe">
    <h6 style="margin-left: 3vw; margin-top: 1vw;">Ghế</h6>
    <div class="Listghe">
      <div class="vtrighe" *ngFor="let ghe of DSGhe" (click)="gheSelected(ghe.SoGhe)">{{ghe.SoGhe}}</div>
    </div>
    </div>
    
