  
.tv{
    justify-content: center;
}
text{font-size: 4vw;}
.giohang{
    width: 100%;
    height: 70%;
   justify-content: center;
   text-align: center;
   overflow-y:scroll;
}
.containerGio{
   border: 0.25vw solid #D9D9D9;
   width: 50%;
   border-radius: 2vw;
   margin-left: 48%;
   margin-top: -15%;
   height: 15vw;
}
.btnContainer{
    height: 30%;
    border-top:1px solid black ;
}
.btnContainer table{
    width: 100%;
}
.btnContainer button{
    border-radius: 8px;
    border: none;
    padding: 0.5vw;
    background-color: #ACD5E9;
}
.btnContainer td{
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 1.5vw
}
.searchContainer{
    display: flex;
    justify-content: center;
}
.gio{
    border: 1vw solid #D9D9D9;
    width: 93%;
    height: 5vw;
    border-radius: 1.5vw;
    background-color: #D9D9D9;
    margin-left: 3%;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    padding:-3vw;
    justify-content: center;
    text-align: center;
}
.chuyentau{
    border: 0.1vw solid #D9D9D9;
   height: 42vw;
   width: 25vw;
   border-radius: 1vw;
   margin-left: 5%;
   margin-top: 3%;
   text-align: center;
}
.lichtrinh{
    border: 0.1vw solid #D9D9D9;
    width: 93%;
    border-radius: 1vw;
    margin: 3vw;
    background-color: #D9D9D9;
    margin-left: 3%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.toatau{
    border: 0.1vw solid #D9D9D9;
    width: 67%;
    border-radius: 1vw;
    margin-left: 32%;
    margin-top: -42.5%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listToa{
    display: flex;
    justify-content: center;
    height: 5vw;
    width: 80%;
}
.Listghe{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
}
.toa{
    border: 0.1vw solid #D9D9D9;
    width: 10%;
    border-radius: 0.5vw;
    background-color: #D9D9D9;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1vw;
    text-align: center;
    cursor: pointer;
}
.ghe{
    border: 0.2vw solid #D9D9D9;
    height: 34vw;
    width: 67%;
    border-radius: 1vw;
    margin-left: 32%;
    margin-top: 1%;
    justify-content: center;
}
.vtrighe{
    border: 0.1vw solid #D9D9D9;
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    background-color: #D9D9D9;
    padding: 1vw;
    text-align: center;
    margin: 1vw;
    cursor: pointer;
}
.table{
text-align: center;
}
.btt{
    margin: 1vw;
    margin-top: -4.4vw;
    margin-left: 10%;
}