#searchContainer{
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
  }
  #searchContainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;
    align-items: center;
  }
 
  h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-left: 10%;
    margin-top: 30px;
  }
  p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    margin-left: 12%;
  }

  app-search-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #picContainer{
    display: flex;
    background-color: #A5AECF;
    justify-content: center;
    width: 80%;
    border-radius: 20px;
    margin: 50px;
  }
  #picBoard{
    display: flex;
    justify-content: center;
  }
  #pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  #pic{
    width: 40%;
    height: 200px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }