.hd{justify-content: center;}
.td{
  justify-content: center;
  margin-left: 10%;
}
.rule {
    padding: 10px;
    margin-bottom: 5%;
    margin-left: 20%;
    justify-content: center;
  }
.video{
  margin: 10px;
  margin-left: 25%;
  margin-top: 3%;
  justify-content: center;
}