<div class="hd">
    <div class="td">
        <h1>Hướng dẫn</h1>
    </div>
    <div class="rule">
        <h1>Màn hình hướng dẫn hoàn vé video</h1>
        <div class="video">
            <video width="640" height="360" controls>
                <source src="/assets/images/video hướng dẫn hoàn vé.webm" >
            </video>
        </div>
    </div>
    <div class="rule">
        <h1>Màn hình hướng dẫn đặt vé video</h1>
        <div class="video">
            <video width="640" height="360" controls>
                <source src="/assets/images/video hướng dẫn đặt vé.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
       


